@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无权访问</title>
    <style>
        body { background-color: #ff6a00; color: #fff; }
        li { list-style: decimal; font-size: 12px; }
    </style>
</head>
<body>
    <h3>
        (′⌒`) 无权限访问此资源，请联系管理员！
    </h3>
    <div>
        可能由以下问题导致
        <ul>
            <li>
                系统管理员未给您分配相关权限；
            </li>
            <li>
                如果已分配，请关闭浏览器并重新登陆；
            </li>
        </ul>
    </div>
</body>
</html>